<a href="https://colab.research.google.com/github/ohlarbisi/House-Price-Predictions/blob/main/Copy_of_Python_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print and input function

In [ ]:
a = "complexity"
len(a)

10

In [ ]:
max(a)

'y'

In [ ]:
min(a)

'c'

In [ ]:
print("NPower Canada")
a = input("what's your name? ")
print(f"Hello {a}")
type(a)

NPower Canada
what's your name? Ishan
Hello Ishan

str

# Variables

In [ ]:
a = 10
b = 10.1
c = "NPower Canada"
d = False
e = int(input("What's your name?"))
print(f"Hello {e}")
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

What's your name?11
Hello 11
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'>

# Arithmetic operators

In [ ]:
a = 11
b = 8
c = a+b
print(c)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

19
3
88
1.375
1
3
214358881

In [ ]:
# 1. To get index numbers of the letters Y AND E
POPSTAR = "DIZZY DRAKE"

POPSTAR = "DIZZY DRAKE"
y_index = POPSTAR.index('Y') - len(POPSTAR)  # For Y
i_index = POPSTAR.index('I') - len(POPSTAR)  # For I
print("Index of Y:", y_index, "Index of I:", i_index)

Index of Y: -7 Index of I: -10

In [ ]:
# 1.To get the character at index 3:
POPSTAR[3]

'Z'

In [ ]:
# To get the character at index 9 (which is 'K'):
POPSTAR[9]

'K'

In [ ]:
# To extract the substring from index 0 to 5:
POPSTAR[6:]

'DRAKE'

In [ ]:
 POPSTAR[3]

'Z'

In [ ]:
SUCCESS = "MAMBA MENTALITY"
SUCCESS = "MAMBA MENTALITY"
print(SUCCESS[::2])     # Output: MMAMNLT
print(SUCCESS[0:10:2])  # Output: MMAMN
print(SUCCESS[2:5:2])   # Output: MB
print(SUCCESS[9:11])    # Output: NL
print(SUCCESS[4:11:2])  # Output: A TT

MMAMNAIY
MMAMN
MA
TA
AMNA

# Operator Precedence

In [ ]:
a = (13-2)*5
print(a)

55

# Comparison operators

In [ ]:
#a = 5
a = 3
b = 3
print(a>b)
print(a<b)
print(a==b)
print(a!=b)

False
False
True
False

# Logical Operators

In [ ]:
a = 5
b = 7
c = 6
print(a<b and a<c)
print(a>b and a<c)
print(a>b or a<c)
print(a>b or a>c)

True
False
True
False

# If statements

In [ ]:
a = 5
b = 10
c = 6
if (a>=b) and (a>=c):
  print("A is the largest")
  print(a+10)
elif (b>=a) and (b>=c):
  print(b+10)
else:
  print("C is the largest")
print(max(a,b,c))

20
10

# Activity

In [ ]:
grade = int(input("Please enter your Marks (0-100) here: "))
if (grade>90): #91 - 100
  print("A Grade")
elif ((grade<=90) and (grade>70)): #71 - 90
  print("B Grade")
elif ((grade<=70) and (grade>50)): #51 - 70
  print("C Grade")
else: # 0 - 50
  print("F Grade")
type(grade)

Please enter your Marks (0-100) here: 44
F Grade

int

# Loops

In [ ]:
a = [1,2,3,"Ishan"]
for i in a:
  print(i)
print("    ")
for i in range (1,11,3):
  print(i)
print("    ")
i = 1
while i<7:
  print(i)
  i+=1 #i = i + 1

1
2
3
Ishan

1
4
7
10

1
2
3
4
5
6

# Lists

In [ ]:
a = [1,2,3,4,"Ishan"]
print(a[4])
print(a[-2])
a.append("Jay") #adds "Jay" string to the end of list
print(a)
a.insert(0, -1) #insers value at specific index
print(a)
a.remove("Ishan") #removes 2 int from the list
print(a)
a.pop() #removes last entry in list
print(a.index(3)) #returns the index of string "Ishan"
b = a.copy() #copies the list a to new variable b
print(b)

Ishan
4
[1, 2, 3, 4, 'Ishan', 'Jay']
[-1, 1, 2, 3, 4, 'Ishan', 'Jay']
[-1, 1, 2, 3, 4, 'Jay']
3
[-1, 1, 2, 3, 4]

# Tuples

In [ ]:
values = (1, 2, 3)
x, y, z = values
print(f"X = {x},Y = {y},Z = {z}")

X = 1,Y = 2,Z = 3

# Dictionaries

In [ ]:
d = {"Central_A": ["Priya",1], "Central_B": "Ishan"}
print(f'Instructor at Central A is {d["Central_A"]}''')
print(f'''Instructor at Central B is {d["Central_B"]}''')
d["Central_A"]

Instructor at Central A is ['Priya', 1]
Instructor at Central B is Ishan

['Priya', 1]

# Functions

In [ ]:
def marks (grade):
  if (grade>90):
    print("A Grade")
  elif ((grade<=90) and (grade>70)):
    print("B Grade")
  elif ((grade<=70) and (grade>50)):
    print("C Grade")
  else:
    print("F Grade")


d = {"Ishan": 70, "Daria": 91, "Brandon": 50}
a = list(d.values())
print(a)
for i in a:
  marks(i)

[70, 91, 50]
C Grade
A Grade
F Grade