<a href="https://colab.research.google.com/github/ohlarbisi/House-Price-Predictions/blob/main/OOP_%2B_File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 1
def fun():
  print("hello")
print(type(fun))
print(type(x))

<class 'function'>
<class 'int'>

In [ ]:
str = "Good Day!"
print(str.upper())

GOOD DAY!

In [ ]:
class Car:
  def drive(self):
    print("Zoom, Zoom!")

  def speed(self):
    return(120)

c = Car()
print(type(c))
c.drive()
c.speed()

<class '__main__.Car'>
Zoom, Zoom!

120

In [ ]:
class Car:
  def drive(self):
    print("Zoom, Zoom!")

  def speed():
    return(120)

c = Car()
c1 = Car()
print(type(c))
c.drive()
c.speed()

<class '__main__.Car'>
Zoom, Zoom!

TypeError: Car.speed() takes 0 positional arguments but 1 was given

In [ ]:
class Car:
  def __init__(self, company, model):
    print(f"New Car added from {company} model number {model}")

  def drive(self):
    print("Zoom, Zoom!")

  def speed(self, speed):
    return(speed) #return(model, speed)

c = Car("BMW", "z4")
c1 = Car("BMW", "m3")
print(c.speed(70))
print(c1.speed(110))

New Car added from BMW model number z4
New Car added from BMW model number m3
70
110

In [ ]:
class Car:
  def __init__(self, company, model):
    self.company = company
    self.model = model
    print(f"New Car added from {self.company} model number {self.model}")

  def drive(self):
    print("Zoom, Zoom!")

  def speed(self, speed):
    return(self.model, speed)

c = Car("BMW", "z4")
c1 = Car("BMW", "m3")
c.drive()
print(c.speed(70))
c1.drive()
print(c1.speed(110))

New Car added from BMW model number z4
New Car added from BMW model number m3
Zoom, Zoom!
('z4', 70)
Zoom, Zoom!
('m3', 110)

In [ ]:
class Car:
  def __init__(self, company, model):
    self.company = company
    self.model = model

  def get_carinfo(self):
    print(f"The Car is {self.company} {self.model}")

class Sports (Car):
  def get_maxspeed(self):
    return("Max Speed is 218 MPH")

class Suv (Car):
  def get_maxspeed(self):
    return("Max Speed is 112 MPH")

sp1 = Sports("Ferrari", "La Ferrari")
su1 = Suv("Tesla", "CyberTruck")
sp1.get_carinfo()
print(sp1.get_maxspeed())
su1.get_carinfo()
print(su1.get_maxspeed())

The Car is Ferrari La Ferrari
Max Speed is 218 MPH
The Car is Tesla CyberTruck
Max Speed is 112 MPH

# Files

In [ ]:
with open('sample_data/README.md', 'r') as file:
  file_content = file.read()
  print(file_content)
if file.closed:
  print ('file is closed')

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

file is closed

In [ ]:
with open('sample_data/README.md', 'r') as file:
  # l1 = file.readlines()
  # print(type(l1))
  # print(l1[0:2])
  l2 = file.readline()
  print(l2)
  l3 = file.readline()
  print(l3)
  l4 = file.readline()
  print(l4)
if file.closed:
  print ('file is closed')

This directory includes a few sample datasets to get you started.



*   `california_housing_data*.csv` is California housing data from the 1990 US

file is closed

In [ ]:
with open ('sample_data/newfie.txt', 'x') as f1:
  l1 = ["Line 1", "Line 2", "Line 3"]
  for i in l1:
    f1.write(i+"\n")

In [ ]:
with open ('sample_data/newfie.txt', 'a') as f1:
  l1 = ["Line 4", "Line 5", "Line 6"]
  for i in l1:
    f1.write(i+"\n")

# Pandas

In [ ]:
import pandas as pd
csv_path = ('sample_data/california_housing_train.csv')
df = pd.read_csv(csv_path)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
print(df['housing_median_age'])

0        15.0
1        19.0
2        17.0
3        14.0
4        20.0
         ...
16995    52.0
16996    36.0
16997    17.0
16998    19.0
16999    52.0
Name: housing_median_age, Length: 17000, dtype: float64

In [ ]:
print(df[['housing_median_age', 'total_rooms']])

       housing_median_age  total_rooms
0                    15.0       5612.0
1                    19.0       7650.0
2                    17.0        720.0
3                    14.0       1501.0
4                    20.0       1454.0
...                   ...          ...
16995                52.0       2217.0
16996                36.0       2349.0
16997                17.0       2677.0
16998                19.0       2672.0
16999                52.0       1820.0

[17000 rows x 2 columns]

In [ ]:
print(df[0:2])

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0

In [ ]:
x = df['housing_median_age'].unique()
print(x)

[15. 19. 17. 14. 20. 29. 25. 41. 34. 46. 16. 21. 48. 31. 28. 24. 18. 30.
 32. 23. 38. 35. 33. 13. 11. 10.  6. 12. 27. 22.  5.  8. 37.  3. 44.  2.
 26.  9.  7. 36.  4. 52. 40. 43. 42. 39. 49. 47. 50. 45. 51.  1.]

In [ ]:
y = df[df['housing_median_age'] > 18]
print(y)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
1        -114.47     34.40                19.0       7650.0          1901.0
4        -114.57     33.57                20.0       1454.0           326.0
5        -114.58     33.63                29.0       1387.0           236.0
6        -114.58     33.61                25.0       2907.0           680.0
7        -114.59     34.83                41.0        812.0           168.0
...          ...       ...                 ...          ...             ...
16994    -124.25     40.28                32.0       1430.0           419.0
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
1          1129.0       463.0         1.8200             80100.0
4           624.0       262.0         1.9250             65500.0
5           671.0       239.0         3.3438             74000.0
6          1841.0       633.0         2.6768             82400.0
7           375.0       158.0         1.7083             48500.0
...           ...         ...            ...                 ...
16994       434.0       187.0         1.9417             76100.0
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[12586 rows x 9 columns]

In [ ]:
print (df.loc[df['housing_median_age'] > 18])

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
1        -114.47     34.40                19.0       7650.0          1901.0
4        -114.57     33.57                20.0       1454.0           326.0
5        -114.58     33.63                29.0       1387.0           236.0
6        -114.58     33.61                25.0       2907.0           680.0
7        -114.59     34.83                41.0        812.0           168.0
...          ...       ...                 ...          ...             ...
16994    -124.25     40.28                32.0       1430.0           419.0
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
1          1129.0       463.0         1.8200             80100.0
4           624.0       262.0         1.9250             65500.0
5           671.0       239.0         3.3438             74000.0
6          1841.0       633.0         2.6768             82400.0
7           375.0       158.0         1.7083             48500.0
...           ...         ...            ...                 ...
16994       434.0       187.0         1.9417             76100.0
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[12586 rows x 9 columns]

In [ ]:
print(df.iloc[0:5, 0:5])

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0

In [ ]:
y.to_csv('sample_data/modfied.csv', index=False)