# Print and input function

In [ ]:
print('NPower Canada')
a = input("what's your name?")
print(f"Hello {a}")
type(a)

# Variables

In [ ]:
a = 10
b = 10.1
c = "NPower Canada"
d = False
e = int(input("What's your name?"))
print(f"Hello {e}")
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

# Arithmetic operators

In [ ]:
a = 11
b = 8
c = a+b
print(c)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

19
3
88
1.375
1
3
214358881

# Operator Precedence

In [ ]:
a = (13-2)*5
print(a)

55

# Comparison operators

In [ ]:
a = 5
#a = 3
b = 3
print(a>b)
print(a<b)
print(a==b)
print(a!=b)

True
False
False
True

# Logical Operators

In [ ]:
a = 5
b = 7
c = 6
print(a<b and a<c)
print(a>b and a<c)
print(a>b or a<c)
print(a>b or a>c)

True
False
True
False

# If statements

In [1]:
a = 11
b = 10
c = 6
if (a>=b) and (a>=c):
  print("A is the largest")
  print(a)
elif (b>=a) and (b>=c):
  print(b)
else:
  print("C is the largest")
print(max(a,b,c))

A is the largest
11
11

# Activity

In [ ]:
grade = int(input("Please enter your Marks (0-100) here: "))
if (grade>90): #91 - 100
  print("A Grade")
elif ((grade<=90) and (grade>70)): #71 - 90
  print("B Grade")
elif ((grade<=70) and (grade>50)): #51 - 70
  print("C Grade")
else: # 0 - 50
  print("F Grade")
type(grade)

Please enter your Marks (0-100) here: 56
C Grade

int

# Loops

In [ ]:
a = [1,2,3,"Ishan"]
for i in a:
  print(i)
print("    ")
for i in range (1,11,3):
  print(i)
print("    ")
i = 1
while i<7:
  print(i)
  i+=1 #i = i + 1

1
2
3
Ishan

1
4
7
10

1
2
3
4
5
6

# Lists

In [ ]:
a = [1,2,3,4,"Ishan","Ishan"]
print(a[4])
print(a[-2])
a.append("Jay") #adds "Jay" string to the end of list
print(a)
a.insert(8, "Ishan") #insers value at specific index
print(a)
a.remove("Ishan") #removes 2 int from the list
print(a)
a.pop() #removes last entry in list
print(a.index("Jay")) #returns the index of string "Ishan"
b = a.copy() #copies the list a to new variable b
print(b)

Ishan
Ishan
[1, 2, 3, 4, 'Ishan', 'Ishan', 'Jay']
[1, 2, 3, 4, 'Ishan', 'Ishan', 'Jay', 'Ishan']
[1, 2, 3, 4, 'Ishan', 'Jay', 'Ishan']
5
[1, 2, 3, 4, 'Ishan', 'Jay']

# Tuples

In [ ]:
values = [1, 2, 3]
x, y, z = values
print(values[0:1])
print(values)
print(f"X = {x},Y = {y},Z = {z}")
tup3 = "a", "b", "c", "d"
print(type(tup3))

[1]
[1, 2, 3]
X = 1,Y = 2,Z = 3
<class 'tuple'>

# Dictionaries

In [ ]:
d = {"Central_A": ["Priya",1], "Central_B": "Ishan"}
print(f'Instructor at Central A is {d["Central_A"][1]}')
t = d["Central_A"]
print(t[0])
print(f'''Instructor at Central B is {d["Central_B"]}''')
d["Central_A"]

Instructor at Central A is 1
Priya
Instructor at Central B is Ishan

['Priya', 1]

#Sets

In [ ]:
s1 = {"John", "Dutch", "Arthur"}
s2 = {"Micah", "Dutch"}
print(s1.intersection(s2))
print(f"Symmetric difference is {s1.symmetric_difference(s2)}")
s3 = (s2.difference(s1))
s4 = (s1.difference(s2))
print(type(s3))
print(f"s3 is {s3}")
print(f"s4 is {s4}")
s5 = (s3.union(s4))
print(f"Union of s3 and s4 is{s5}")
print(s1.union(s2))

{'Dutch'}
Symmetric difference is {'John', 'Arthur', 'Micah'}
<class 'set'>
s3 is {'Micah'}
s4 is {'John', 'Arthur'}
Union of s3 and s4 is{'John', 'Arthur', 'Micah'}
{'John', 'Arthur', 'Micah', 'Dutch'}

# Functions

In [ ]:
def marks (grade):
  if (grade>90):
    print("A Grade")
  elif ((grade<=90) and (grade>70)):
    print("B Grade")
  elif ((grade<=70) and (grade>50)):
    print("C Grade")
  else:
    print("F Grade")


d = {"Ishan": 70, "Daria": 91, "Brandon": 50}
a = list(d.values())
print(a)
for i in a:
  marks(i)

[70, 91, 50]
C Grade
A Grade
F Grade

# Class

In [ ]:
class Bankacct:
  def __init__(self, name, money):
    self.n = name
    self.m = money
    print(f"Hello! {self.n}, your balance is {self.m}$")

  def add (self, amt):
    self.m = self.m + amt
    print(f"{self.n} your New Balance is {self.m}$")

ac1 = Bankacct("Lenny", 10)
ac2 = Bankacct("Arthur", 15)
ac1.add(20)
ac1.add(30)
ac2.add(10)

Hello! Lenny, your balance is 10$
Hello! Arthur, your balance is 15$
Lenny your New Balance is 30$
Lenny your New Balance is 60$
Arthur your New Balance is 25$